.title {
  text-align: center;
  font-family: 'Lilita One', sans-serif;
  margin: 30px auto;
  font-size: 35px;
}

.search-btn {
  position: relative;
  top: 6px;
}

.no-text {
  margin-top: 10px;
}
.profile-img {
  width: 100px;
}

.search-area {
  margin-bottom: 20px;
}
