.title {
  text-align: center;
  font-family: 'Lilita One', sans-serif;
  margin: 40px auto;
  font-size: 40px;
}
.form-area {
  font-family: 'Noto Sans KR', sans-serif;
}

.no-text {
  margin-top: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
}

.profile-img {
  width: 120px;
  height: 100px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
}

.default-img {
  width: 150px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.search-area {
  font-family: 'Noto Sans KR', sans-serif;
}
.total-area {
  font-family: 'Noto Sans KR', sans-serif;
}
.card-list {
  font-family: 'Noto Sans KR', sans-serif;
}
